################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GuessingGame/v15
/.vs
/GuessingGame/obj
/GuessingGamePAS/__history
